<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <p id="recipe-form-p">
      <%= f.label :title, "Title:", class: "title-label" %><br>
      <%= f.text_field :title, id: "title-field" %><br>
      <%= f.label :instruction, "Instructions:", class: "title-label" %><br>
      <%= f.text_area :instruction, :rows => 10, id: "instruction-field" %>
    </p>
    <%= f.fields_for :recipe_ingredients, @recipe.recipe_ingredients do |builder| %>
      <%= render :partial => 'recipe_ingredient_fields', :locals => {:f => builder, :recipe => @recipe} %>
    <% end %>
    <p class="add_recipe"><%= link_to_add_fields "Add Ingredient Slot", f, :recipe_ingredients %></p>
    <p><%= f.submit class: "create-recipe-button" %></p>
  </div>
<% end %>
