<p class="add_ingredient">
  <%= select_tag(:type, options_for_select(["meat", "grain", "dairy", "vegetable", "fruit", "spice", "other"]), { class: "select-type" }) %>

  <%= f.select :ingredient_id, nil, {}, {class: 'select-ingredient'} do %>
    <%= Ingredient.all.each do |ingredient| %>
      <%= content_tag(:option, ingredient.name, value: ingredient.id, data: {food_type: ingredient.food_type} )%>
    <%end%>
  <%end%>

  <%= f.label :ingredient_id, "Ingredient" %>
  <%#= f.collection_select :ingredient_id, Ingredient.order(:name), :id,:name, {include_blank: "select ingredient"}, {class: 'select-ingredient'} %>
  <%= f.text_field :quantity %><br>
  <%= f.check_box :_destroy %>
  <%= f.label :_destroy, "Remove" %><br>
</p>