<div class="container" style="width: 90%;">
  <div class="row">

    <div class="col-md-6">
      <div id="recipes">
        <div class="recipe-chef">
          <div class="search">
            <h1 class="home-titles">Recipes</h1>
            <a href="/recipes" id="search-recipe"><span class="glyphicon glyphicon-search"></span></a>
          </div>
          <div class="list-group">
            <% @recipes.each do |recipe| %>
              <dt><%= link_to recipe.title,recipe_path(recipe), class: "list-group-item homepage-lists" %>
                <dd>Chef: <%= link_to recipe.user.name, user_path(recipe.user) %></dd></dt>
            <%end%>
          </div>
        </div> <!-- recipe-chef -->

      </div>
    </div>

    <div class="col-md-6">
      <div id="chefs">
        <div class="recipe-chef">
          <h1 class="home-titles">Chefs</h1>
          <div class="list-group">
            <% @users.each do |user| %>
                <%= link_to user.name, user_path(user), class: "list-group-item homepage-lists" %><span class="badge glyphicon glyphicon-book"><span style="padding-left: 5px;"></span><%= user.recipes.count %></span></li>
              <%end%>
            </ul>
          </div>
        </div> <!-- recipe-chef -->
      </div>
    </div>

  </div> <!-- div row -->
  <div class="row">
    <div class="col-md-12">
      <div id="create-recipe">
        <%= link_to 'Create Recipe', new_recipe_path, id: "create-btn", class: "btn btn-default" %>
      </div>
    </div>
  </div>
</div> <!-- div container -->