<div class="container" style="width: 90%;">
  <div class="row">

    <div class="col-md-6">
      <div id="recipes">
        <div class="recipe-chef">
          <h1 class="home-titles">Recipes</h1>
          <div id="home-recipe-list">
            <ul class="list-group">
              <% @recipes.each do |recipe| %>
                <dt><li class="home-list list-group-item"><%= link_to recipe.title, recipe_path(recipe) %></li>
                  <dd style="padding-left: 5%;">Chef: <%= link_to recipe.user.name, user_path(recipe.user) %></dd></dt>
              <%end%>
            </ul>
          </div>
        </div> <!-- recipe-chef -->

      </div>
    </div>

    <div class="col-md-6">
      <div id="chefs">
        <div class="recipe-chef">
          <h1 class="home-titles">Chefs</h1>
          <div id="home-users-list">
            <ul class="list-group">
              <% @users.each do |user| %>
                <li class="home-list"><%= link_to user.name, user_path(user) %><span class="badge glyphicon glyphicon-book"><span style="padding-left: 5px;"></span><%= user.recipes.count %></span></li>
              <%end%>
            </ul>
          </div>
        </div> <!-- recipe-chef -->
      </div>
    </div>

  </div> <!-- div row -->
  <div class="row">
    <div class="col-md-12">
      <div id="create-recipe">
        <h1 id="create-recipe-h1"><%= link_to 'Create Recipe', new_recipe_path %><h1>
      </div>
    </div>
  </div>
</div> <!-- div container -->