<!DOCTYPE html>
<html>
<head>
  <title>RecipeBook</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <!-- Latest compiled JavaScript -->
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
  <header>

    <nav class="navbar navbar-default" id="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand nav-style"><%= link_to 'RecipeBook', root_path%>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
              <li><span class="glyphicon glyphicon-user user-nav"><%= link_to current_user.name, current_user%></span></li>
              <li><span class="glyphicon glyphicon-log-out user-nav"><%= link_to 'Logout', logout_login_path, method: :get%></span></li>
            <%else%>
              <li><a href="/login"><span class="glyphicon glyphicon-log-in">Login</span></a></li>
              <li><a href="/users/new"><span class="glyphicon glyphicon-user">SignUp</span></a></li>

            <%end%>
          </ul>
        </div>
      </div>
    </nav>
  </header>
<%= yield %>

</body>
</html>
